  <tr class="nested-fields">
   
    <td class="item-description"><span> <%= f.text_field :description %> </span></td>
    <td class="item-qty"><%= f.text_field :qty %></td>
    <td class="item-price">$<span> <%= f.text_field :price %> </span></td>
    <td class="item-total-price">$<span>  - </span></td>
    <td><%= link_to_remove_association "Remove Item", f %></td>
  
  </tr>
