  <tr >
   
    <td ><span> <%= f.text_field :description %> </span></td>
    <td ><%= f.text_field :qty %></td>
    <td >Rs.<span> <%= f.text_field :price %> </span></td>
    <td >Rs.<span>  - </span></td>
    <td><%= link_to_remove_association "Remove Item", f %></td>
  
  </tr>
